<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="ServerAddress" value=""/>
    <add key="ServerKey" value=""/>
    <add key="Storage" value="Application"/>
    <add key="EarlyConnect" value="TRUE"/>
    <add key="NyaPrint" value="FALSE"/>
    <add key="NyaPrintServer" value="http://10.2.0.7:5000"/>
    <add key="BTSend" value="TRUE"/>
    <add key="AutofillAddress" value="TRUE"/>
    <add key="Address" value="hdthdrth"/>
    <add key="Address2" value="hrtghdth"/>
    <add key="ZipCode" value="12345"/>
    <add key="City" value="hdrthdthd"/>
    <add key="Country" value="US"/>
    <add key="Currency" value="USD"/>
    <add key="ModelID" value="650"/>
  </appSettings>
</configuration>
