<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="ServerAddress" value="YourServerAddress" />
    <add key="ServerKey" value="YourServerKey" />
    <add key="Storage" value="Storage Card"/>
    <add key="EarlyConnect" value="TRUE"/>
    <add key="NyaPrint" value="TRUE"/>
    <add key="NyaPrintServer" value="http://10.2.0.7:5000"/>
    <add key="AutofillAddress" value="TRUE"/>
    <add key="Address" value="1st Cat Road"/>
    <add key="Address2" value="Under the bridge"/>
    <add key="ZipCode" value="55555"/>
    <add key="City" value="Nyacity"/>
    <add key="Country" value="US"/>
    <add key="Currency" value="USD"/>
    <add key="ModelID" value="650"/>
  </appSettings>
</configuration>
